@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: white;
    overflow: hidden;
}


h1 {
    padding-bottom: 19px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #6C63FF;
    font-size: 36px;
    display: flex;
    padding-left: 30px;
}



/*Imagens*/

img {
    width: 100%;
}

.top-img {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-img{
    position: absolute;
    bottom: 0;
    left: 0;
}



/*Subscribe*/

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-text {
    padding: 35px 0px 31px 0px;
    font-size: 14px;
    color: #9C9AB6;
}

.btn-subscribe {
    width: 160px;
    height: 46px;
    border-radius: 10px;
    background-color: #6C63FF;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}



/*Countdown*/

.countdown-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.countdown-container p {
    font-size: 72px;
    padding-left: 20px;
}

.countdown-container span {
    color: #C8C8C8;
    font-size: 14px;
}


/*Responsivo*/

@media (min-width: 1273px){
    .top-img{
        top: -1.5rem;
    }

    .bottom-img{
        bottom: -10rem;
    }

    .countdown-container:after{
        content: '';
        position: relative;
        width: 200px;
        height: 250px;
        min-width: 30rem;
        background-image: url('rocket.svg');
        background-repeat: no-repeat;
        background-size: contain;
        left: 20px;
    }

    .countdown-container {
        gap: 2rem;
    }
    
}


@media (min-width: 1200px){
    .subscribe {
        position: relative;
        right: 24%;
        bottom: 70px;
    }

    h1 {
        padding-left: 90px;
    }
}
